.relatedArtworks {
	margin-top: 8rem;
	padding: 0 2rem;
}

.relatedArtworks h1 {
	font-size: 3rem;
}

.artworks {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.artworks img {
	border: 4px solid black !important;
	width: 100%;
}

@media (min-width: 850px) {
	.relatedArtworks {
		padding: 0 6rem;
		margin: 0 0 8rem 0;
	}
	.artworks {
		flex-direction: row;
	}
}
