.main {
	/* margin-top: 5rem; */
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.main h2 {
	color: var(--accent-color);
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	font-size: 1.3rem;
}

.input {
	border: 1px solid var(--accent-color);
	border-radius: 1px;
	font-size: 1.3rem;
	padding: 1rem 1rem;
	font-family: var(--main-font);
	resize: none;
}

.submitButton {
	margin-top: 0.6rem;
	background-color: white;
	border: 1px solid var(--accent-color);
	border-radius: 1px;
	color: var(--accent-color);
	padding: 1rem 1.5rem;
	font: var(--main-font);
	font-size: 1.3rem;
}

.submitButton:hover {
	color: white;
	background-color: var(--accent-color);
	font-weight: 500;
}
